.modal-title
{
    color: aliceblue;
    margin-top: 2%;
}

.modal-container 
{
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 40%;
    z-index:1;
    background-color: rgba(20, 20, 20, 0.9);
    grid-template-columns: 1f;
}

.modal-table
{   
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    outline: none;
    transition: background .2s;
}

.modal-table div tr th
{
    padding-top: 0;
}

.modal-table tbody tr:nth-child(even)
{   
    background-color: #AEAAAA;
    color: white;
}

.modal-table tbody tr:nth-child(odd)
{   
    background-color: #E4E4E4;
    color: #0D0D0D;    
}

.close-modal
{
    position: absolute; 
    right: 0;
    width: 28px;
    height: 28px;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: background .2s;
}